.change { 
    color: rgb(46, 154, 222);
    background-color: rgb(80, 25, 25);
    font-size: 40px;
    border: 1px solid white;
}

#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: rgb(22, 140, 225);
}
#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: rgb(253, 253, 253);
}

.h1 {
    color: blue;
    font-size: 20px;
}